<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pong_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pong_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <pong_.Properties.Settings>
            <setting name="player1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ai" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="points" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lightmode" serializeAs="String">
                <value>False</value>
            </setting>
        </pong_.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <pong_.Properties.Settings>
            <setting name="store" serializeAs="String">
                <value>True</value>
            </setting>
        </pong_.Properties.Settings>
    </applicationSettings>
</configuration>